.idea {
   display: flex;
   /* background-color: rgba(218, 245, 225, 0.712); */
   background-image: url('../Assets/im.png');
   height: 100vh;
   width: 98.9vw;
   /* background-color: blue; */
  /* margin-top: 4px; */
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size:cover !important;
}

.delete {
    color: red !important;
}
.card {
  margin: 40px;
}

/* .card {
    display: inline-block !important;
    background-color: rgb(147, 133, 196) !important;
    margin-top: 5vw;
    margin-left: 5%;
    width: 25vw !important;
    height: 25vh !important;
    
} */


.card:hover {
  background-color: rgb(128, 198, 211) !important;
  transform: scale(1.05); 
  
}

.editbtn {
  margin-left: 5px;
}

.editicon1:hover {
  background-color: rgb(0, 128, 64) !important;
}


.deleteicon1:hover {
  background-color: red!important;
}

.servic{
  position: absolute; 
  right: 0;
  bottom: 0 !important;
  z-index: -1;   
  background-position: center;
  background-repeat: no-repeat !important;
  background-size:cover !important;
  }
  @media (min-aspect-ratio: 16/9){
    .servic{
      width: 100%;
      height: auto;
    }
  }

  @media (max-aspect-ratio: 16/9){
      .servic{
      width: auto;
      height: 100%;
    }
  }












/* .addbtn {
  margin:1% 1% 0px 3px !important;
  float: right;
} 
.content {
  height: 100%;
}

.title {
  margin-top: auto !important;
}

.inputarea{
  margin-bottom: 2px !important;
}
.emailarea {
  margin-bottom: 2px !important;
}

/* .inputs{
  margin-top: 5px;
} */
.fields{
  height: 20px !important;
}

.error{
  color: red;
}

.my-swal {
  z-index: 300000 !important;
}

.field {
  margin-top: auto;
  /* text-align: center; */
  width: 95% !important;
  height: 50px !important ;
  
}

.muifield {
  width: 100%;
  
  /* text-align: center; */
}
.button{
  margin-top: 10px;
}

.methods {
  margin-bottom: 2%;
  margin-top: 2%;
  width: 90%;
  height: 100px;
}

label{
  margin-bottom: 2%;
  margin-top: 2%;
}