*{
    margin: 0;
    padding: 0;
    /* background-position: center;
    background-repeat: no-repeat !important;
    background-size:cover !important;
    background-image: url('../Assets/white.avif'); */
   


}

/* .navbar{
    position: relative !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);  
    height: 50px;  

} */
/* .navbar ul {
    display: flex;
    list-style: none;
    justify-content: right;
    
}

.nav-item {
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: 150;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif
 ;
} */ 