.navbar {
    position: sticky !important ;
    background-color: rgb(102, 112, 199);
    width: 100%;
    
}

.navbar ul {
    list-style: none;
    display: flex;
    
}

.nav-item {
    margin: 3px;
    padding: 5px;
    color: white;
    text-decoration: none;
    
    
}


.active{
    color:  red;
    border-bottom: 2px solid rgb(218, 34, 34); 
    font-weight: 500;
}